* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    font-family: 'Arial' , sans-serif;
}

body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-thumb {
    background:rgb(73, 37, 138);
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color:#fff;
}

/** BARRE DE NAVIGATION **/


.logo a:link {
    color: #FFF;
}
.logo a:visited {
    color: #FFF;
}

nav {
 /*   position: fixed;
    width: 100%; */
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    margin: 6px;
    font-size: 25px;
}

/** ICONE FAB COULEUR / TAILLE **/
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(163, 71, 238);}
.fa-github:hover {color: rgb(255, 123, 0);}
.fa-youtube:hover {color: rgb(255, 0, 0);}


.fa-facebook {color: rgb(201, 201, 201);}
.fa-twitter {color: rgb(201, 201, 201);}
.fa-instagram {color: rgb(201, 201, 201);}
.fa-github{color: rgb(201, 201, 201);}
.fa-youtube{color: rgb(201, 201, 201);}

/** RESPONSIVITE **/

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

img {width: 100%;}

main {
    height: calc(100vh - 80px);
}

/** ANIMATION TYPING **/
.typing {
    color:#FFF;
    font-size: 3rem;
}
/** INDEX **/
.profil-card {
    max-width: 350px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    overflow:hidden;
    min-width: 150px;
    min-height: 250px;
}

.profil {
    display: flex;
    width: 30rem;
    height: 45rem;
    min-height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: url('image/bg1.png');
    background-size: cover;
}

.profil-card .social-media-profil-card i {
    size: 1rem;
}

.profil h2 {
    color:rgb(0, 0, 0)
}

.left-profil-card {
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.right-profil-card {
    width : 30%
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    background: url('image/services_bg.jpg');
    background-size: cover;

}

.services-cards-1 {
   background: url('image/clavier-site-card.png');
    background-size: cover; 
    padding: 23rem 0 0;
   margin: 0 2rem;
   border-radius: 15px;
   width: 30rem;
   height: 35rem;
   overflow: hidden;
   min-width: 20rem;
   transform: scale(1.00)
}

.services-cards-1:hover {
    transform: scale(1.03)
}

.services-cards-2 {
    background: url('image/peter-site-card.png');
     background-size: cover; 
     padding: 23rem 0 0;
    margin: 0 2rem;
    border-radius: 15px;
    width: 30rem;
   height: 35rem;
    overflow: hidden;
    min-width: 20rem;
 }

 .services-cards-2:hover {
    transform: scale(1.03)
}

 .services-cards-3 {
    background: url('image/pixel-art-lac.png');
    background-size: cover; 
    padding: 23rem 0 0;
    margin: 0 2rem;
    border-radius: 15px;
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    min-width: 20rem;
 }

 .services-cards-3:hover {
    transform: scale(1.03)
}

.services-cards-1 .services-cards-text  {
    color:rgb(255, 255, 255);
    padding-top : 3rem;
    padding-bottom: 3rem;
}

.services-cards-2 .services-cards-text {
    color:rgb(255, 255, 255);
    padding-top : 2rem;
    padding-bottom: 2rem;
}

.services-cards-3 .services-cards-text {
    color:rgb(255, 255, 255);
    padding-top : 2rem;
    padding-bottom: 2rem;
}

.button-card {
    color:rgb(255, 255, 255);
}

.services-cards-title {
    color:rgb(255, 255, 255);
}

.services-cards-content {
    padding: 1.5rem;
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.3), hsl(0 0% 0% / 1));
}

/** GALERIE **/ 

.photographie-main {
    background-image: url("image/guirlande.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper-galerie {
    padding : 3% 10vw;
}

#index-galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "galerie-h2 galerie-h2 galerie-h2 galerie-h2"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
}

#index-galerie .galerie-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.galerie-img div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;;
}

.galerie-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out;
}

/** GALERIE IMAGE **/ 

#index-galerie h2 {
    grid-area: galerie-h2;
}

#index-galerie .img1 {
    grid-area: img1;
    background-image: url("image/peter-site-card.png");
}

#index-galerie .img2 {
    grid-area: img2;
    background-image: url("image/galerie/Arbre_fleuris.jpg");
}

#index-galerie .img3 {
    grid-area: img3;
    background-image: url("image/galerie/ARJ.jpg");
}

#index-galerie .img4 {
    grid-area: img4;
    background-image: url("image/galerie/Champs_Arrière.JPG");
}

#index-galerie .img5 {
    grid-area: img5;
    background-image: url("image/galerie/Forêt_Plateau_Est.jpg");
}

#index-galerie .img6 {
    grid-area: img6;
    background-image: url("image/galerie/Clavier\ Roccat\ [R].jpg");
}

#index-galerie .img7 {
    grid-area: img7;
    background-image: url("image/services_bg.jpg");
}

#index-galerie .img8 {
    grid-area: img8;
    background-image: url("image/galerie/Cathédrale\ Jour.jpg");
}

/** ART **/ 

.art-main {
    background-image: url("image/Art/landscape\ rose.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper-art{
    padding : 3% 10vw;
}

#index-art {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "galerie-h2 galerie-h2 galerie-h2 galerie-h2"
    "art1 art2 art3 art4"
    "art5 art6 art7 art8"
}

#index-art .art-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.art-img div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}

.art-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out;
}


/** ART IMAGE **/ 

#index-art h2 {
    grid-area: galerie-h2;
}

#index-art .art1 {
    grid-area: art1;
    background-image: url("image/Art/Bloc_O.png");
}

#index-art .art2 {
    grid-area: art2;
    background-image: url("image/Art/Entrepot_ST-export.png");
}

#index-art .art3 {
    grid-area: art3;
    background-image: url("image/Art/Gameboy.png");
}

#index-art .art4 {
    grid-area: art4;
    background-image: url("image/Art/gameboy_bleu_animated.gif");
}

#index-art .art5 {
    grid-area: art5;
    background-image: url("image/Art/Kingdom_LAC_FINAL_ST.png");
}



/*** Portfolio GRID ***/ 

.main-portfolio {
    background-image : url('image/Portfolio/photo-1584949091598-c31daaaa4aa9.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrapper-portfolio {
    padding : 3% 10vw;
}

#index-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "galerie-h2 galerie-h2 galerie-h2 galerie-h2"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
}

#index-portfolio .portfolio-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    
}

.portfolio-img div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: bolder;
    font-size: larger;
    
}

.portfolio-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out;
}

#index-portfolio .portfolio1 {
    grid-area: img1;
    background-image: url("image/Portfolio/cover\ Randomiser.png");
}

#index-portfolio .portfolio2 {
    grid-area: img2;
    background-image: url("image/Portfolio/cover\ clicker.png");
}
